.DS_Store
.snakemake/
.singularity/
test/
.Rproj
data/
results/scratch/
results/logs/
sessions/
**/Rmd/*.nb.html
results/
.snakemake/
.snakemake*
temp/
*_cache/
*_files/
github_private_key
*.rds
workspaces/
.ipynb_checkpoints/
~$*
ipynb/*.svg
intermediates/
*.bin
*.weights
*.tree
*.log
.keras/

## Allow
!sce_t4k_params.rds
