.reveal section p {
  font-size: 0.6em;
}

.reveal li {
  font-size: 0.7em;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.6em;
}

#experiments {
   font-size: 0.75em;
}

#bigtable {
   font-size: 0.7em;
}

#bigxtable {
   font-size: 0.5em;
}

#markertablebig {
   font-size: 0.5em;
}

#scrolltable1 {
   font-size: 0.7em;
}

#scrolltable2 {
   font-size: 0.7em;
}

#scrolltable3 {
   font-size: 0.7em;
}

#scrolltable4 {
   font-size: 0.7em;
}

#scrolltable5 {
   font-size: 0.7em;
}

#scrolltable6 {
   font-size: 0.7em;
}

#viability {
   font-size: 0.5em;
}

#prevtable {
   font-size: 0.5em;
}

#proptable {
  font-size: 0.5em;
}

#prevtable2 {
  font-size: 0.5em;
}
.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal .caption {
  font-size: 0.4em;
}